body
{
	font-family: "Verdana";
	background: rgb(0,95,131);
	background: linear-gradient(90deg, rgba(0,95,131,1) 0%, rgba(0,212,255,1) 100%);
}


#container
{
	padding: 50px 0px;
	width: 50%;
	margin : 100px auto;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 3px;
}

#header
{
	margin-bottom: 50px;
	text-align: center;
	font-size: 2em;
}

#inputContainer
{
	display: grid;
	grid-template-columns: 65% 15%;
	height: 50px;
	padding-left: 15%;
}

#userInput
{
	padding-left: 20px;
	font-size: 2em;

	/*BUNU DEĞİŞTİREBİLİRSİN !!!!*/
	margin-right: 5px;
}

span
{
	padding-left: 20px;
	font-size: 2em;
}


button
{
	font-size: 1.2em;
	font-family: "Verdana";
}

#add
{
	background-color: #12e049;
	color : white;
	border: 0px;
	box-shadow: 0px 0px 1px 1px #4b4b4b;

}

.delete
{
	background-color: #f52c39;
	color : white;
	border: 0px;
	box-shadow: 0px 0px 1px 1px #4b4b4b;
}


#list
{
	list-style: none;
	padding-left: 15%;
	padding-top : 30px;
	padding-bottom: 30px;
}

ul
{
	padding-left: 0px;
}

li
{
	display: grid;
	grid-template-columns: 65% 15%;
	text-decoration: none;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

li:hover
{
	cursor: pointer;
	/*text-decoration: line-through;*/
}
